.bookWrapper{ 
    width: 1200px;
    height: 450px;
    margin-top: 20px;
    overflow-y: scroll;

}

.bookWrapper::-webkit-scrollbar {
    width: 6px;
    border-radius: 18px;
}

.bookWrapper::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: rgb(12, 189, 189);
}

.bookWrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgb(6, 100, 100);
}

.bookWrapper::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.bookWrapper::-webkit-scrollbar-track {
    border-radius: 11px;
    background-color: white;
}

.bookWrapper::-webkit-scrollbar-button {
    display: none;
}

.bookGrid {
    margin-top: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
}

.bookCard{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    max-height: 130px;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 1px 1px #888888;
    border: 0.2px solid #9999; 
} 

.bookCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

.bookDetailWrapper {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    width: 200px;
    padding-right: 10px;
    justify-content: space-between;
    overflow: hidden;
    inline-size: 150px;
}

.bookImg {
    margin-left: 7px;
    width: 100%;
    height: 100%;
    margin-top: -5px;
    transform: translateY(-1%);
}

.bookTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100px;
    white-space: nowrap;
    /* overflow: hidden; */
}

.link {
    text-decoration: none;
    color: grey;
}

.addToCartButton {
    width: 100px;
    height: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: white;
    background-color: rgb(12, 189, 189);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.favouriteButton {
  font-size: 20px;
  border: none;
  background-color: white;
  margin: auto; 
}

.heartRed {
    margin-left: 10px;
    cursor: pointer;
}

.heartWhite {
    margin-left: 10px;
    cursor: pointer;
}