.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgb(6, 100, 100);
    color: #fff;
    position: fixed;
    bottom: 0;
}
  
.footer-text {
    margin: 0;
}   