.quickCartWrapper {
    text-align: center;
    margin: 30px 10px 0 -420px; 
    padding: 20px;
    width: fit-content;
    height: 400px;
    background-color: white;
    color: black;
    z-index: 3; 
    border-radius: 11px;
    border: 1px solid grey;
    transform: translateY(5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.cartGrid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 85%
}

.cartGrid::-webkit-scrollbar {
    width: 6px;
    border-radius: 18px;
}

.cartGrid::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: rgb(12, 189, 189);
}

.cartGrid::-webkit-scrollbar-thumb:hover {
    background-color: rgb(6, 100, 100);
}

.cartGrid::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.cartGrid::-webkit-scrollbar-track {
    border-radius: 11px;
    background-color: white;
}

.cartGrid::-webkit-scrollbar-button {
    display: none;
}

.bookCartCard {
    display: flex;
    width: auto;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}

.bookCartCard .removeIcon{
    visibility: hidden;
}

.bookCartCard:hover .removeIcon {
    visibility: visible;
}

.bookCartImg {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.bookCartDetailWrapper {
    width: 400px;
    display: flex;
}

.titleAndAuthorWrapper {
    margin: auto;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.titleAndAuthorWrapper div {
    white-space: nowrap;
}

.bookCartTitle {
    margin: 0 10px 3px 0; 
    width: 150px;
    overflow: hidden;
}

.bookCartAuthor {
    margin: 0 10px 3px 0; 
}

.priceAndQuantityWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
}

.bookCartPrice{
    margin: auto;
    white-space: nowrap; 
    align-items: right;
}

.bookCartSpace {
    margin: auto;
    padding: 0 10px 0 10px; 
}

.bookCartQuantity {
    margin: auto;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 8px;
    margin-top: 5px;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 5px;
}

.minusButton{
    width:15px;
    height: 15px;
    margin: auto;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(12, 189, 189);
    color: white;
    cursor: pointer; 
}

.plusButton{
    width:15px;
    height: 15px;
    margin: auto;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: rgb(12, 189, 189);
    color: white;
    cursor: pointer;
}

.removeIcon {
    cursor: pointer;
}

.buttonWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.goToCartButton {
    width: 100px;
    height: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: white;
    background-color: rgb(12, 189, 189);
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.clearCartButton {
    width: 100px;
    height: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: white;
    background-color: rgb(12, 189, 189);
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    outline: none;
    transition: 0.2s all;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.clearCartButton:hover {
    background-color: red;
}

.clearCartButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}



